# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/venv/

# Environment
backend/.env

# Database
*.sqlite3

# Django
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Docker
*.log